
.center-btn{

display: flex;
  align-items: center;
  justify-content: center;
}

.appear{display: none;}

.appear_error{display: none;}

.space{padding: 10px;}

.space-1{padding: 5px;}

.modal_pop {

	display: flex;
}

.modal_close{

	display: none;
}

.is-clickable {
  cursor: pointer;
}
